footer {
  background-color: #1a1b21;
  border-radius: 0 0 10px 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.social-icons a {
  color: #918e9b;
  text-decoration: none;
  margin-right: 20px;
}

.fa-brands {
  font-size: 2rem;
}
